*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #d9d9d9;
    user-select: none;
}
.container{
    display: flex;
    width: 1200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    background-color: white;
}
.briefInfo{ /* левая сторона*/
    background-color: #a4a4de;
    width: 25%;
    
    padding: 10px;
}

.textBig{
    font: 18pt "JetBrains Mono ExtraBold";
    margin-bottom: 5px;
    color: white;
}
.detailedInfo p{
    font: 18pt "JetBrains Mono ExtraBold";
    margin-bottom: 15px;
    color: #a4a4de;
}

.detailedInfo{
    padding: 10px;
    width: 75%;
}
.textareaBox textarea{
    padding: 10px;
    width: 100%;
    resize: none;
    border: 1px solid #a4a4de;

    border-radius: 5px;
    outline: none;

    color: #a4a4de;
    font: 1em "JetBrains Mono";
    transition: 0.5s;
    margin: 10px 0;
}
.textareaBox span{
    position: absolute;
    left: 0;
    font: 1em "JetBrains Mono";
    text-transform: uppercase;
    transform: translateX(321px);
    padding: 20px 20px 0 0;
    pointer-events: none;
    color: rgba(164, 164, 222, 0.5);
    transition-duration: 0.5s;
}
.textareaBox textarea:valid ~ span,
.textareaBox textarea:focus ~ span{
    color: #4747ea;
    transform: translateX(321px) translateY(-3px);
    font-size: 0.85em;
    padding: 0 10px;
    background-color: white;
    border-left: 1px solid #4747ea;
    border-right: 1px solid #4747ea;
    letter-spacing: 0.2em;
}
.textareaBox textarea:valid,
.textareaBox textarea:focus{
    border: 1px solid #4747ea;
}
